.glossary {
	color: purple;
	cursor: pointer;
	font: inherit;
	background: 0 0;
	border: none;
	padding: 2px;
	text-decoration: underline;
}
.glossary:focus {
	outline-offset: 2px;
	outline: 2px solid #06c;
}
.glossary:hover {
	background-color: #8000801a;
}
.popover {
	max-width: 300px;
}
.popover-body {
	font-size: 14px;
	line-height: 1.4;
}
@media (width<=768px) {
	.popover {
		max-width: 250px;
	}
	.popover-body {
		font-size: 13px;
	}
}
.glossary_table td {
	vertical-align: top;
}
.glossary_table td:first-child {
	padding-right: 1em;
}
.glossary_table tr {
	border-bottom: 1px solid #ddd;
}
.glossary_table tr:nth-child(2n) {
	background-color: #9993;
}
